/******* WRAPPERs ********/
.clEle svg,
.clEle img {
  width: 100% !important;
  height: auto !important;
  text-transform: none !important;
}

.clEle {
  max-height: 110px;
}

.clLink svg text,
.clBtn svg text,
.clEle svg text {
  font-family: ClMont, Mont, Mont-Bold, sans-serif !important;
  font-weight: 600;
}

.clLink,
.clBtn,
.clLink:focus,
.clBtn:focus,
.clLink:active,
.clBtn:active {
  outline: none;
}

.clBtn {
  width: 100%;
  /* min-width: 300px; */
  font-family: "ClMont";
  background-color: transparent;
  border: 0px solid red;
  padding: 0;
  margin: 0;
  justify-content: center;
  cursor: pointer;
}

.clLink {
  width: auto;
  font-family: "ClMont";
  background-color: transparent;
  padding: 0;
  margin: 0;
  align-content: flex-start;
  cursor: pointer;
}

.clBtn,
.clLink {
  display: flex;
  opacity: 0;
  max-width: 275px;
  transition: opacity 200ms ease-in 250ms;
}

.clBtn--desktop:hover,
.clBtn--mobile:hover {
  background: transparent;
}

.clBtn--desktop,
.clLink--desktop,
.clLink--mobile,
.clBtn--mobile {
  align-content: stretch;
  align-items: center;
  justify-content: flex-start;
  padding: .5rem 0;
}

.clBtn--desktop,
.clLink--desktop {
  display: none;
  max-height: 105px;
}

.clLink--mobile,
.clBtn--mobile,
.clLink--mobile-always {
  max-height: unset;
  max-width: 205px;
}

.clLink--show {
  opacity: 1;
}

.clLinkWrapp--center,
.clBtnWrapp--center {
  display: flex;
  justify-content: center;
}

@media only screen and (min-width: 810px) {

  .clLink--desktop,
  .clBtn--desktop {
    display: flex;
  }

  .clLink--mobile,
  .clBtn--mobile {
    display: none;
  }
}

.clLink--mobile-always {
  display: flex !important;
}

/******* WRAPPERs ********/